<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css"
        integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap-theme.min.css"
        integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <link rel="stylesheet" href="./assets/css/style.css">
    <title>Smart home</title>
</head>

<body>

    <div id="app">
        <h3>Page: {{page}}</h3>

        <!-- pagina home -->
        <div v-if="page == 'home'" class="container">
            <div class="row">
                <div class="col-xs-12">
                    <h1>Page home</h1>
                </div>
            </div>
        </div>

        <!-- pagina cadastro -->
        <div v-else-if="page == 'add-products'" class="container">
            <div class="row">
                <div class="col-xs-12">
                    <h1>Page cadastro</h1>
                </div>
            </div>
        </div>
        

        <div v-else-if="page == 'list-products'" class="container">
            <div class="row">
                <div class="col-xs-12">
                    <h2>{{app_name}}</h2>
                    <h4>3 produtos da sua casa</h4>
                </div>

            </div>
            <br>
            <div class="row">
                <div v-for="product in list_products" class="col-xs-6 p-1">
                    <div class="product-item">
                        <img :src="product.img" class="image img-responsive img-rounded"
                            alt="Responsive image">
                        <h3>{{product.title}}</h3>
                        <p>{{product.desc}}</p>
                    </div>
                </div>
            </div>

            <div class="row mt-5">
                <div class="col-xs-12">
                    <button type="button" class="btn btn-lg btn-block btn-yellow" @click="page = 'add-products'">Novo equipamento</button>
                </div>
            </div>
            <br>
           <br>
           <br>
        </div>
        <div class="container">
            <div class="row menu-app">

                <div class="col-xs-3" @click="page = 'home'">
                    <img src="assets/images/home.png" class="image-nav img-responsive img-rounded"
                        alt="Responsive image">
                </div>

                <div class="col-xs-3">
                    <img src="assets/images/pesquisa.png" class="image-nav img-responsive img-rounded"
                        alt="Responsive image">
                </div>
                <div class="col-xs-3" @click="page = 'list-products'">
                    <img src="assets/images/cardapio.png" class="image-nav img-responsive img-rounded"
                        alt="Responsive image">
                </div>
                <div class="col-xs-3">
                    <img src="assets/images/perfil-de-usuario.png" class="image-nav img-responsive img-rounded"
                        alt="Responsive image">
                </div>


            </div>
        </div>
    </div>




</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js"
    integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
<script src="./assets/js/vue.js"></script>

</html>